/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 14pt;
}

body {
    background-color: lightsteelblue;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: lightseagreen;
    border-bottom: 2px solid black;
}

header>h1 {
    font-size: 32px;
    font-weight: 600;
    background-image: url("site_images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 50px;
    color: black;
}

header>a {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    text-shadow: 2px 2px 2px white;
    text-decoration: none;
}

header>a:hover {
    color: white;
    text-shadow: 2px 2px 2px black;
}

main {
    margin-top: 85px;
    margin-bottom: 100px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery-container img {
    width: 288px;
    height: 216px;
    object-fit: cover;
    /* Ensures images cover the area without distortion */
    border: 2px solid black;
    transition: transform 0.2s;
}

.gallery-container img:hover {
    transform: scale(1.20);
    border: 3px solid white;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox-content {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#lightbox-image {
    width: 55%;
    margin-top: 30px;
    border: 5px solid white;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.headline-h1 {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 5px 20px 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
}

figure>img {
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
}

figure>figcaption {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: lightseagreen;
    border-top: 2px solid black;
}

footer>small {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    margin: 3px;
    padding: 3px 7px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}
