/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 12pt;
}

body {
    background-color: #9df9ef;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #51e2f5;
    border-bottom: 2px solid black;
}

header>h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

header>a {
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-shadow: 2px 2px 2px white;
    text-decoration: none;
}

header>a:hover {
    color: white;
    text-shadow: 2px 2px 2px black;
}

main {
    margin-top: 60px;
    margin-bottom: 100px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.headline-h1 {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
}

.index-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

figure >img {
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
}

figure > figcaption {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 3px;
    padding: 3px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #51e2f5;
    border-top: 2px solid black;
}

footer>small {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
