/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 14pt;
}

body {
    background-color: azure;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: dodgerblue;
    border-bottom: 2px solid black;
}

header>h1 {
    font-size: 32px;
    font-weight: 600;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header>h1>img {
    box-shadow: 2px 2px 2px white;
}

header>a {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

header>a:hover {
    color: black;
    text-shadow: 2px 2px 2px white;
}

main {
    margin-top: 100px;
    margin-bottom: 100px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.headline-h1 {
    font-size: 2rem;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

form {
    display: table;
}

form fieldset {
    border: 2px solid blue;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
    background-color: azure;
}

form legend {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

form p {
    display: table-row;
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
}

form label {
    font-size: 1.4em;
    font-weight: 600;
    color: black;
}

form input[type=text] {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
}

form textarea {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
}

form input[type=number] {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2px 5px;
    padding: 2px 5px;
    color: black;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 3px;
}

form input[type=submit] {
    font-size: 1em;
    font-weight: 500;
    padding: 2px 5px;
    color: black;
    background-color: rgb(233, 210, 210);
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

form input[type=submit]:active {
    box-shadow: inset 2px 2px 2px;
}

.button {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: 2px 2px 2px black;
}

.button:active {
    box-shadow: inset 2px 2px 2px black;
}

table {
    background-color: transparent;
    margin-bottom: 10px;
    width: 75%;
    border: 3px solid blue;
}

table th,
table td {
    vertical-align: middle;
    text-align: center;
    padding: 3px;
    border: 1px solid grey;
}

th {
    background-color: white;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(142, 172, 220, 0.3)
}

tbody tr:nth-of-type(even) {
    background-color: white;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

figure>img {
    border: 2px solid black;
    box-shadow: 2px 2px 2px;
}

figure>figcaption {
    font-size: 1.4em;
    font-weight: 600;
    margin: 3px;
    padding: 3px;
}
